img{
    height: 30px;
    width: auto;
}

div{
    height: auto;
    display: flex;
    justify-content: space-around;
}

footer{
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    /* background-color: rgba(52, 52, 52, 0.11); */
    backdrop-filter: blur(5px);
}

hr{
    margin: 3px 0 ;
}