img{
    width: 70px;
    position:absolute;
    top: 3rem;
    left: 45%;
}
span{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    margin: 4px;
}
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
h3{
    margin: 4px;
    display: flex;
}

app-dark-mode-toggle{
    position: fixed;
    top: 1rem;
    right: 1rem;
}