<h2>Update Article</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit(id)">

    <fieldset>
        <label for="title-message">Title</label>
        <input id="title-message" name="title-message" type="text" [(ngModel)]="oneNew.title"  required>
    </fieldset>

    <fieldset>
        <label for="title-picture">Picture</label>
        <input id="title-picture" name="title-picture" type="text" [(ngModel)]="oneNew.picture" required maxlength="500">
    </fieldset>

    <fieldset>
        <label for="quantity-description">Description</label>
        <input id="quantity-description" name="quantity-description" type="text" [(ngModel)]="oneNew.description" required>
    </fieldset>

    <fieldset>
        <label for="categorie-message">categorie_id</label>
        <!-- <input id="categorie-message" name="categorie-message"   required> -->
        <select name="categorie-message" id="categorie-message" (change)="onChange()" [(ngModel)]="oneNew.categorie.id">
            <option [ngValue]=1>News</option>
            <option [ngValue]=2>Historique</option>
            <option [ngValue]=3>To-Do</option>
        </select>
    </fieldset>
    <button type="submit">Envoyer</button>
</form>