<div class="historique">
    <h4>Historique</h4>
    <div class="acc">
        <div>
            <p>Vous voila sur la page de mon historique.</p>
            <p>Vous trouverez ici mes différentes aventure passé en mono roue éléctrique</p>
        </div>
    <img src="https://c.tenor.com/2vT3mS0xY0EAAAAC/larsbarst-euc.gif"/>
    </div>

    <div class="newsLoop" *ngFor="let news of news; index as i;">
        <div class="column">
            <h6>{{news.date}}</h6>
            <h5>{{news.title}}</h5>
            <div class="group">
                <img *ngIf="news.picture" src={{news.picture}} alt="" class="zoom">
                <p>{{news.description}}</p>
            </div>
        </div>
        
    </div>
</div>

