<div class="historique" *ngIf="news[0]">
    <h4>A faire</h4>
    <div class="acc">
        <div>
            <p>Bienvenue sur mon site sur la Gyroroue</p>
            <p>Vous trouverez ici mes différentes aventure en mono roue éléctrique</p>
        </div>
    <img src="../../assets/gyroboy.png"/>
    </div>

    <div class="newsLoop" *ngFor="let news of news; index as i;">
        <div class="column">
            <h6>{{news.date}}</h6>
            <h5>{{news.title}}</h5>
            <p>{{news.description}}</p>
        </div>
        <img *ngIf="news.picture" src={{news.picture}} alt="">
    </div>
</div>