<h2>Add Article</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">

    <fieldset>
        <label for="title-message">Title</label>
        <input id="title-message" name="title-message" type="text" [(ngModel)]="model.title"  required>
    </fieldset>

    <fieldset>
        <label for="title-picture">Picture</label>
        <input id="title-picture" name="title-picture" type="text" [(ngModel)]="model.picture" required maxlength="500">
    </fieldset>

    <fieldset>
        <label for="quantity-description">Description</label>
        <input id="quantity-description" name="quantity-description" type="text" [(ngModel)]="model.description" required>
    </fieldset>

    <fieldset>
        <label for="categorie-message">Categorie</label>
        <!-- <input id="categorie-message" name="categorie-message"   required> -->
        <select name="categorie-message" id="categorie-message" value="1" (change)="onChange()" [(ngModel)]="model.categorie.id">
            <option [ngValue]=1 ng-selected="selected">News</option>
            <option [ngValue]=2>Historique</option>
            <option [ngValue]=3>To-Do</option>
        </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Envoyer</button><br/>
    <a [routerLink]="['/admin']"><button class="btn btn-warning">Retour</button></a>
</form>

