<div class="main">
<div class="accueil">
    <h4>Accueil</h4>
    <div class="acc">
        <div>
            <p>Bienvenue sur mon site sur la Gyroroue</p>
            <p>Vous trouverez ici mes différentes aventure en mono roue éléctrique</p>

            <img src="../../assets/gyroboy.png"/>
        </div>
        <iframe width="200" height="250" frameborder="0"
src="https://www.youtube.com/embed/k7ni8MG7ucY?autoplay=1&mute=0" allowfullscreen>
</iframe>
   
    </div>
    
</div>
<app-weather></app-weather>
</div>