* {
    margin: 0rem;
}

.accueil{
    margin: 1rem;
    background-color: rgba(147, 143, 19, 0.234);
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

p{
    font-size: 0.9rem;
    margin: 1rem;
}
img{
    position: relative;
    height: 150px;
    top: 0;
}
.acc{
    display: flex;
    justify-content: space-around;
}

.main{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:700px){
    .acc{
        display: flex;
    justify-content: space-around;
    flex-direction: column;
    }
    img{
        height: 75px;
    }
}